{% extends 'base.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block body %}
    <h1>Partenaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partenaire.id }}</td>
            </tr>
            <tr>
                <th>Ninea</th>
                <td>{{ partenaire.ninea }}</td>
            </tr>
            <tr>
                <th>DenomSocial</th>
                <td>{{ partenaire.denomSocial }}</td>
            </tr>
            <tr>
                <th>Localite</th>
                <td>{{ partenaire.localite }}</td>
            </tr>
            <tr>
                <th>SiegeSocial</th>
                <td>{{ partenaire.siegeSocial }}</td>
            </tr>
            <tr>
                <th>FormJuri</th>
                <td>{{ partenaire.formJuri }}</td>
            </tr>
            <tr>
                <th>ActivitePrin</th>
                <td>{{ partenaire.activitePrin }}</td>
            </tr>
            <tr>
                <th>AnneeCrea</th>
                <td>{{ partenaire.anneeCrea ? partenaire.anneeCrea|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NomComplet</th>
                <td>{{ partenaire.nomComplet }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ partenaire.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ partenaire.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ partenaire.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partenaire_index') }}">back to list</a>

    <a href="{{ path('partenaire_edit', {'id': partenaire.id}) }}">edit</a>

    {{ include('partenaire/_delete_form.html.twig') }}
{% endblock %}
